<div class='container'>
  <%= form_tag '/leaderboard', method: :get, data: {remote: true}, id: 'choose-date-form' do %>
    <div class='row activity_date'>
      <div class='col-sm-4 col-sm-offset-4'>
        <div class='form-group'>
          <div class='input-group date' id='datepicker'>
            <input name='activities_date' id='datepicker-input' type='text' class='form-control' value=<%=@date.strftime('%Y/%m/%d')%> />
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-calendar'></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
