<%= form_tag "/leaderboard/index", class: "choose-date-form" do %>
    <div id="activity_date">
      <%= date_select :activities, :activities_date, class: "dropdown btn btn-default dropdown-toggle" %>
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
<% end %>


<!-- <script type="application/javascript">

  $(function () {
    $('#activity_date').datetimepicker({
      format: 'DD/MM/YYYY',
      inline: true
      // TODO get range to work. enabledDates: []
    }).on('dp.change', function () {
      $('.choose-date-form').submit();
    })
  });
</script> -->
<!--<div class="container" id="datepicker-container">-->
<!--<div class="col-sm-6" style="height:250px;" id="datepicker-center">-->
<!--<div style="overflow:hidden;">-->
<!--<div class="form-group">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->