<h1 class="center" ><b>No one earned their beer today</b></h1>
<%= render 'calendar' %>

<%= image_tag "Sad-Meme-Face-08.png", class: "center" %>
<%= image_tag "big-beer-mug-md.png", class: "center" %>