body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
  padding-bottom: 120px;
}

.strava-link:hover, .activity-link:hover, .activity-link:visited:hover{
  color: orangered;
  background-color: transparent;
}

.activity-link, .activity-link:visited {
  color: darkgray;
}

.container  .img-responsive {
  display: block;
  width: auto;
  max-height: 124px;
}

#datepicker-container{
  text-align:center;
}
#datepicker-center{
  display:inline-block;
  margin:0 auto;
}
