@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
  padding-bottom: 120px;
}

.strava-profile:hover {
  color: orangered;
  background-color: white;
}